.headerContainer {
  height: 69px;
  width: 100%;
  padding: 16px 30px;
  background: #2d3779;
  border-bottom: 1px solid #f1f4ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  color: #ffffff;
}

.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.inputSearchHeader {
  height: 36px;
  padding: 8px 12px;
  background: #37428a;
  border-radius: 6px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #8b95db;
  outline: none;
  border: none;
}
.inputSearchHeader::placeholder {
  color: #8b95db;
}
.inputSearchHeader::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('/search.png');
}

.helpButtonHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background: #37428a;
  border-radius: 16.5px;
  padding: 8px 12px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
}

.asideContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 1rem 0 1rem 1rem;
  max-width: 173px;
  height: calc(100vh - 69px);
  background: #ffffff;
}

.asideImageContainer {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0px;
  gap: 14px;
}

.main {
  position: relative;
  padding: 1rem;
  padding-left: 200px;
  background: #f8f9fd;
  min-height: calc(100vh - 69px);
}
